* {
	font-family: Andale Mono, monospace, Arial;
	box-sizing: border-box;
	color: lime;
	background-color: black;
}

div .body{
    height: 100%;
    width: 100%;
}

div .main-container{
	height: 100%;
	width: 100%;
	border: 1px solid lime;
	display: flex;
}

div .textbox{
	height: 100%;
	width: 20%;
	padding-left: 7px;
}

div .game-container{
	height: 100%;
    width: 80%;
    border: 1px solid lime;
    display: flex;
    border-top: none;
    border-bottom: none;
}

div .option-box{
	height: 100%;
	width: 40%;
}

button{
    font-size: small;
    width: 25%;
    border: 1px solid lime;
    margin: 15px 6px;
    padding: 7px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

button:focus{
    outline: none;
}

div .status-container{
	float: right;
    margin-left: auto;
}

div .stats{
    border: 2px solid lime;
    margin-bottom: 10px;
    border-right: none;
    border-top: 1px solid lime;
    margin-top: -1px;
    padding-left: 7px;
    padding-right: 7px;
    text-align: center;
}

div .inventory{
    border: 2px solid lime;
    border-right: none;
    border-bottom-width: 1px;
    margin-bottom: -1px;
    padding-left: 7px;
    padding-right: 7px;
}

.hidden{
    display: none;
}

div .event-box {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,.8);
    left: 0;
    top: 0;
}

div .event-content {
    width: 40%;
    margin: 20% auto;
    border: 1px solid lime;
    padding: 2rem;
    box-shadow: 0 0 100px crimson;
}